@layer tokens {
    :where(:root, :host) {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 32px;
  --spacing-6: 64px;
  --fonts-body: Inter, sans-serif;
  --colors-primary1: hsl(332, 100%, 99.4%);
  --colors-primary2: hsl(330, 100%, 98.4%);
  --colors-primary3: hsl(331, 85.6%, 96.6%);
  --colors-primary4: hsl(331, 78.1%, 94.2%);
  --colors-primary5: hsl(332, 72.1%, 91.1%);
  --colors-primary6: hsl(333, 67.0%, 86.7%);
  --colors-primary7: hsl(335, 63.5%, 80.4%);
  --colors-primary8: hsl(336, 62.3%, 72.9%);
  --colors-primary9: hsl(336, 80.0%, 57.8%);
  --colors-primary10: hsl(336, 73.7%, 53.5%);
  --colors-primary11: hsl(336, 75.0%, 47.2%);
  --colors-primary12: hsl(340, 65.0%, 14.5%);
  --colors-gray1: hsl(206, 30.0%, 98.8%);
  --colors-gray2: hsl(210, 16.7%, 97.6%);
  --colors-gray3: hsl(209, 13.3%, 95.3%);
  --colors-gray4: hsl(209, 12.2%, 93.2%);
  --colors-gray5: hsl(208, 11.7%, 91.1%);
  --colors-gray6: hsl(208, 11.3%, 88.9%);
  --colors-gray7: hsl(207, 11.1%, 85.9%);
  --colors-gray8: hsl(205, 10.7%, 78.0%);
  --colors-gray9: hsl(206, 6.0%, 56.1%);
  --colors-gray10: hsl(206, 5.8%, 52.3%);
  --colors-gray11: hsl(206, 6.0%, 43.5%);
  --colors-gray12: hsl(206, 24.0%, 9.0%);
  --colors-black-a10: hsla(0, 0%, 0%, 0.478);
  --colors-blue12: hsl(211, 100%, 15.0%);
  --colors-red2: hsl(359, 100%, 98.6%);
  --colors-red5: hsl(360, 90.2%, 91.9%);
  --colors-red6: hsl(360, 81.7%, 87.8%);
  --colors-red10: hsl(358, 69.4%, 55.2%);
  --colors-red11: hsl(358, 65.0%, 48.7%);
  --colors-green10: hsl(152, 57.5%, 37.6%);
  --colors-green11: hsl(153, 67.0%, 28.5%);
  --colors-yellow9: hsl(53, 92.0%, 50.0%);
  --colors-yellow10: hsl(50, 100%, 48.5%);
  --colors-yellow11: hsl(42, 100%, 29.0%);
  --colors-yellow12: hsl(40, 55.0%, 13.5%);
  --breakpoints-2xl: 1536px;
  --breakpoints-sm: 600px;
  --breakpoints-md: 900px;
  --breakpoints-lg: 1200px;
  --breakpoints-xl: 1400px;
  --breakpoints-bp300: 300px;
  --breakpoints-bp400: 400px;
  --breakpoints-bp500: 500px;
  --breakpoints-bp600: 600px;
  --breakpoints-bp700: 700px;
  --breakpoints-bp800: 800px;
  --breakpoints-bp900: 900px;
  --breakpoints-bp1000: 1000px;
  --breakpoints-bp1100: 1100px;
  --breakpoints-bp1200: 1200px;
  --breakpoints-bp1300: 1300px;
  --breakpoints-bp1400: 1400px;
  --breakpoints-bp1500: 1500px;
  --sizes-breakpoint-2xl: 1536px;
  --sizes-breakpoint-sm: 600px;
  --sizes-breakpoint-md: 900px;
  --sizes-breakpoint-lg: 1200px;
  --sizes-breakpoint-xl: 1400px;
  --sizes-breakpoint-bp300: 300px;
  --sizes-breakpoint-bp400: 400px;
  --sizes-breakpoint-bp500: 500px;
  --sizes-breakpoint-bp600: 600px;
  --sizes-breakpoint-bp700: 700px;
  --sizes-breakpoint-bp800: 800px;
  --sizes-breakpoint-bp900: 900px;
  --sizes-breakpoint-bp1000: 1000px;
  --sizes-breakpoint-bp1100: 1100px;
  --sizes-breakpoint-bp1200: 1200px;
  --sizes-breakpoint-bp1300: 1300px;
  --sizes-breakpoint-bp1400: 1400px;
  --sizes-breakpoint-bp1500: 1500px;
  --colors-neutral-bg: hsl(206, 30.0%, 98.8%);
  --colors-neutral-text: hsl(206, 24.0%, 9.0%);
  --colors-success: hsl(153, 67.0%, 28.5%)
}
  }
  