@layer tokens {
    @keyframes spin {
        100% {
            transform: rotate(360deg)
        }
    }
    @keyframes hide {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    @keyframes slideIn {
        from {
            transform: translateX(calc(100% + 16px))
        }
        to {
            transform: translateX(0)
        }
    }
    @keyframes swipeOut {
        from {
            transform: translateX(var(--radix-toast-swipe-end-x))
        }
        to {
            transform: translateX(calc(100% + 16px))
        }
    }
    @keyframes slideDown {
        from {
            height: 0
        }
        to {
            height: var(--radix-accordion-content-height)
        }
    }
    @keyframes slideUp {
        from {
            height: var(--radix-accordion-content-height)
        }
        to {
            height: 0
        }
    }
}